* {
    outline: 2px solid red;
  }

.calc-body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 30vw;
    width: 30vw;
    align-items: center;
    justify-content: space-around;
}

.calc-buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}